{% extends 'institution_base.html' %}
{% load static %}
{% block content %}


<section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(/static/techei/dash/images/bg_1.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">Education Needs Complete Solution</h1>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url(images/bg_2.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">University, College School Education</h1>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="ftco-services ftco-no-pb">
  <div class="container-wrap">
    <div class="row no-gutters">
      <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-teacher"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Certified Teachers</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-reading"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Special Education</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-books"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Book &amp; Library</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-diploma"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Sport Clubs</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if user.is_individual or not user.is_authenticated%}

<section class="ftco-section">
      <div class="container-fluid px-4">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Upcoming</span> Events</h2>
            <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
          </div>
        </div>
        </div>
      </section>


    <section>
          <div class="container-fluid p-sm-0">
            <div class="row featured-post-slider">
            {% for up in upcoming %}

            <div class="col-md-3 course ftco-animate">
              {% for a in ueimg %}
                {% for b in a|slice:":1" %}
                  {% if b.event_id == up.id %}
                  <div class="img" style="background-image: url({{ b.name.url }});"></div>
                  {% endif %}
                {% endfor %}
              {% endfor %}

              <div class="text pt-4">
                <p class="meta d-flex">
                  {% for a in einst %}
                    {% for b in a|slice:":1" %}
                      {% if b.user_id == up.user_id and not i%}
                        <span><i class="icon-user mr-2"></i>{{b.institutionname}}</span>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  <span><i class="icon-table mr-2"></i>{{ up.seats }}</span>
                  <span><i class="icon-calendar mr-2"></i>{{ up.start_date }}</span>
                </p>
                <h3><a href="#">{{up.title}}</a></h3>
                <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                <p><a href="{% url 'apply_event' event_id=up.id  %}" class="btn btn-primary">Apply now</a></p>
              </div>
            </div>
            
              {% endfor %}

              <div class="col-md-3 course ftco-animate">
                <div class="img" style="background-image: url(/static/techei/dash/images/more.png);"></div>
                <div class="text pt-4">
                  <p class="meta d-flex">
                    <span><i class=" mr-2"></i></span>
                    <span><i class=" mr-2"></i></span>
                    <span><i class=" mr-2"></i></span>
                  </p>
                  <h3><a href="#">Explore All</a></h3>
                  <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                  <p><a href="#" class="btn btn-primary">Apply now</a></p>
                </div>
              </div>

            </div>
          </div>
        </section>

{% endif %}

{% if not user.is_authenticated %}
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2 d-flex">
    			<div class="col-md-6 align-items-stretch d-flex">
    				<div class="img img-video d-flex align-items-center" style="background-image: url(images/about-2.jpg);">
    					<div class="video justify-content-center">
								<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
									<span class="ion-ios-play"></span>
		  					</a>
							</div>
    				</div>
    			</div>
          <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
            <h2 class="mb-4">Fox University</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
        </div>
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-12">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="18">0</strong>
		                <span>Certified Teachers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="401">0</strong>
		                <span>Students</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		                <span>Courses</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="50">0</strong>
		                <span>Awards Won</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>

{% endif %}


{% if user.is_authenticated and user.is_individual %}

<section class="ftco-section">
  <div class="container-fluid px-4">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4"><span>Events </span> Around Me</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>
    </div>
  </section>


<section>
      <div class="container-fluid p-sm-0">
        <div class="row featured-post-slider">


          {% for ev in event %}

          <div class="col-md-3 course ftco-animate">
            {% for a in eimg %}
              {% for b in a|slice:":1" %}
                {% if b.event_id == ev.id %}
                <div class="img" style="background-image: url({{ b.name.url }});"></div>
                {% endif %}
              {% endfor %}
            {% endfor %}

            <div class="text pt-4">
              <p class="meta d-flex">
                {% for a in inst %}
                  {% for b in a|slice:":1" %}
                    {% if b.user_id == ev.user_id and not i%}
                      <span><i class="icon-user mr-2"></i>{{b.institutionname}}</span>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                <span><i class="icon-table mr-2"></i>{{ ev.seats }}</span>
                <span><i class="icon-calendar mr-2"></i>{{ ev.start_date }}</span>
              </p>
              <h3><a href="#">{{ev.title}}</a></h3>
              <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
              <p><a href="{% url 'apply_event' event_id=ev.id  %}" class="btn btn-primary">Apply now</a></p>
            </div>
          </div>


          {% endfor %}


          <div class="col-md-3 course ftco-animate">
            <div class="img" style="background-image: url(/static/techei/dash/images/more.png);"></div>
            <div class="text pt-4">
              <p class="meta d-flex">
                <span><i class=" mr-2"></i></span>
                <span><i class=" mr-2"></i></span>
                <span><i class=" mr-2"></i></span>
              </p>
              <h3><a href="#">Explore All</a></h3>
              <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
              <p><a href="#" class="btn btn-primary">Apply now</a></p>
            </div>
          </div>

          <div class="col-md-3 course ftco-animate">
            <div class="img" style="background-image: url(/static/techei/dash/images/more.png);"></div>
            <div class="text pt-4">
              <p class="meta d-flex">
                <span><i class=" mr-2"></i></span>
                <span><i class=" mr-2"></i></span>
                <span><i class=" mr-2"></i></span>
              </p>
              <h3><a href="#">Explore All</a></h3>
              <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
              <p><a href="#" class="btn btn-primary">Apply now</a></p>
            </div>
          </div>

          <div class="col-md-3 course ftco-animate">
            <div class="img" style="background-image: url(/static/techei/dash/images/more.png);"></div>
            <div class="text pt-4">
              <p class="meta d-flex">
                <span><i class=" mr-2"></i></span>
                <span><i class=" mr-2"></i></span>
                <span><i class=" mr-2"></i></span>
              </p>
              <h3><a href="#">Explore All</a></h3>
              <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
              <p><a href="#" class="btn btn-primary">Apply now</a></p>
            </div>
          </div>

          <div class="col-md-3 course ftco-animate">
            <div class="img" style="background-image: url(/static/techei/dash/images/more.png);"></div>
            <div class="text pt-4">
              <p class="meta d-flex">
                <span><i class=" mr-2"></i></span>
                <span><i class=" mr-2"></i></span>
                <span><i class=" mr-2"></i></span>
              </p>
              <h3><a href="#">Explore All</a></h3>
              <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
              <p><a href="#" class="btn btn-primary">Apply now</a></p>
            </div>
          </div>



        </div>
      </div>
    </section>

{% endif %}

{% endblock %}
