{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Sign up as a {{ user_type }}</h2>
      <form method="post" id="profileForm" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.as_table }}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_state").change(function () {
      var url = $("#profileForm").attr("data-cities-url");
      var stateId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'state': stateId
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });

    });
  </script>
{% endblock %}
