{% extends 'institution_base.html' %}
{% load static %}
{% block content %}

<head>
<title>Add Event Image</title>
<link href="{% static "techei/addfest/css/main.css" %}" rel="stylesheet" media="all">
</head>
<section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(/static/techei/dash/images/fest.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">Add Event Images </h1>
            <p>Add your Event Images </p>
          </div>
        </div>
        </div>
      </div>
    </section>

    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">

                <div class="card-body">
                  <form method="POST" id="event" enctype="multipart/form-data">  {% csrf_token %}
                      <input type="hidden" name="next" value="{{ next }}">
                      <div class="form-row">
                         <div class="name">Upload Images</div>
                         <div class="value">
                             <div class="input-group js-input-file">
                                 <input  type="file" name="name" accept="image/*" id="id_name" required>
                             </div>
                             <div class="label--desc">Upload your Event Images,Upto 5 Images</div>
                         </div>
                     </div>
                     {% if event_images.0.name %}
                         {% for ei in event_images %}
                            <div class="col-md-4">
                                    <span>Already uploaded</span>
                                     <img src="{{ ei.name.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-footer">
                    <button class="btn btn--radius-2 btn--blue-2" type="submit">Next</button>
                    <a class="btn btn--radius-2 btn--blue-2" href="">Finish</a>
                </div>
             </form>

            </div>
        </div>
    </div>

<!--
    <div class="row">
      <div class="col-md-8 col-sm-10 col-12">
        <h2>Sign up as a</h2>
        <form method="post" id="event" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div> -->


{% endblock %}
