{% extends 'institution_base.html' %}
{% load static %}
{% block content %}
<head>
<title>Add Fest/Club</title>
<link href="{% static "techei/addfest/css/main.css" %}" rel="stylesheet" media="all">
</head>
<section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(/static/techei/dash/images/fest.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">Add Fest </h1>
            <p>Add your Fest </p>
            <!-- <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p> -->
          </div>
        </div>
        </div>
      </div>
      <div class="slider-item" style="background-image:url(/static/techei/dash/images/club.png);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">Add</h1>
            <!-- <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p> -->
          </div>
        </div>
        </div>
      </div>
    </section>

    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">

                <div class="card-body">
                    <form method="POST" id="event">  {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Fest/Club Name</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="name" required id="id_name">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Description</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6" name="description" id="id_description" placeholder="Description about your event"></textarea>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="card-footer">
                    <button class="btn btn--radius-2 btn--blue-2" type="submit">Next</button>
                </div>
             </form>
            </div>
        </div>
    </div>

    <section class="ftco-section bg-light">
<h1 class="mb-4">My Fest and Clubs </h1>
			<div class="container">
				<div class="row">
          {% for fc in fecl%}
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              {% for im in fim %}
                {% if fc.id == im.fest_id %}
                  <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('{{im.name.url}}');">
                  </a>
                {% endif %}
              {% endfor %}
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">{{fc.name}}</a></h3>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Events <span class="ion-ios-arrow-round-forward"></span></a></p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
			</div>
		</section>


<!-- <div class="row">
  <div class="col-md-8 col-sm-10 col-12">
    <h2>Sign up as a</h2>
    <form method="post" id="event" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
</div> -->
<script src="{% static "techei/addfest/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "techei/addfest/js/global.js"  %}"></script>
{% endblock %}
